$def with (content)
<!DOCTYPE HTML>
<html>
<head>
    <script type="text/javascript" src="static/lib/jquery.js"></script>
    <script type="text/javascript" src="static/lib/jquery.form.js"></script>
    <script type="text/javascript" src="static/lib/framework.js"></script>
    <script type="text/javascript" src="static/lib/jquery.metadata.js"></script>
    <script type="text/javascript" src="static/lib/popup/blockUI.js"></script>
    <script type="text/javascript" src="static/lib/validate/jquery.validate.pack.js"></script>
    <script type="text/javascript">$$.metadata.setType("attr", "cssClass");</script>
    <link rel="stylesheet" href="static/css/default.css" type="text/css">
    <script type="text/javascript" src="static/js/main.js"></script>
    <base target="_self">
</head>
<body>
$:content
</body>
</html>